body{
    background-color: rosybrown;
}
h1{
    color: cyan;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
legend{
    color: cyan;
    font-size: 32px;
    font-weight: bold;
    border-style: double;
    background-color: yellowgreen;
}
fieldset{
    border-style: groove;
    border-width: 20px;
}
hr{
    border-style: double;
    border-width: 10px;
}
ol{
    list-style-type: upper-alpha;
}